/* CSS Framework */

html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-width: 960px;
}

.grid-container {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}


.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9,
.grid-10,
.grid-11,
.grid-12 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  /* border: 1px solid aqua; */
}

.push-1, .pull-1,
.push-2, .pull-2,
.push-3, .pull-3,
.push-4, .pull-4,
.push-5, .pull-5,
.push-6, .pull-6,
.push-7, .pull-7,
.push-8, .pull-8,
.push-9, .pull-9,
.push-10, .pull-10,
.push-11, .pull-11 {
  position: relative;
}

/* `Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/

.alpha {
  margin-left: 0;
}

.omega {
  margin-right: 0;
}


/* `Grid >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.grid-container .grid-1 {
  width: 60px;
}

.grid-container .grid-2 {
  width: 140px;
}

.grid-container .grid-3 {
  width: 220px;
}

.grid-container .grid-4 {
  width: 300px;
}

.grid-container .grid-5 {
  width: 380px;
}

.grid-container .grid-6 {
  width: 460px;
}

.grid-container .grid-7 {
  width: 540px;
}

.grid-container .grid-8 {
  width: 620px;
}

.grid-container .grid-9 {
  width: 700px;
}

.grid-container .grid-10 {
  width: 780px;
}

.grid-container .grid-11 {
  width: 860px;
}

.grid-container .grid-12 {
  width: 940px;
}


.grid-container .prefix-1 {
  padding-left: 80px;
}

.grid-container .prefix-2 {
  padding-left: 160px;
}

.grid-container .prefix-3 {
  padding-left: 240px;
}

.grid-container .prefix-4 {
  padding-left: 320px;
}

.grid-container .prefix-5 {
  padding-left: 400px;
}

.grid-container .prefix-6 {
  padding-left: 480px;
}

.grid-container .prefix-7 {
  padding-left: 560px;
}

.grid-container .prefix-8 {
  padding-left: 640px;
}

.grid-container .prefix-9 {
  padding-left: 720px;
}

.grid-container .prefix-10 {
  padding-left: 800px;
}

.grid-container .prefix-11 {
  padding-left: 880px;
}

/* `Suffix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.grid-container .suffix-1 {
  padding-right: 80px;
}

.grid-container .suffix-2 {
  padding-right: 160px;
}

.grid-container .suffix-3 {
  padding-right: 240px;
}

.grid-container .suffix-4 {
  padding-right: 320px;
}

.grid-container .suffix-5 {
  padding-right: 400px;
}

.grid-container .suffix-6 {
  padding-right: 480px;
}

.grid-container .suffix-7 {
  padding-right: 560px;
}

.grid-container .suffix-8 {
  padding-right: 640px;
}

.grid-container .suffix-9 {
  padding-right: 720px;
}

.grid-container .suffix-10 {
  padding-right: 800px;
}

.grid-container .suffix-11 {
  padding-right: 880px;
}


/* http://sonspring.com/journal/clearing-floats */

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */

.clearfix:before,
.clearfix:after,
.container_12:before,
.container_12:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}

.clearfix:after,
.container_12:after {
  clear: both;
}

/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/

.clearfix,
.container_12 {
  zoom: 1;
}

